<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/top.css" />
  </head>
  <body>
    <header>
      <div id="headerLogo"></div>
      <div id="headerMenuBar">
        <a href="">top</a>
        <a href="">menu</a>
        <a href="">about us</a>
        <a href="">products</a>
        <a href="">contact us</a>
      </div>
    </header>
    <h1>Computer Controller</h1>
    <p>コードは上手に定期的に</p>
    <div class="mainContainer">
      <div class="test">
        <!-- リクエスト送信用 -->
        <!-- 単純に文字をタイプするだけ -->
        <form action="/" method="post">
          <label for="">文字タイプ</label>
          <input type="text" name="AS400_type" value="EDTLIBL" id="" />
          <input type="submit" />
        </form>
        <form action="/" method="post">
          <label for="">文字タイプ</label>
          <input type="text" name="AS400_type" value="WRKMBRPDM" id="" />
          <input type="submit" />
        </form>
        <form action="/" method="post">
          <label for="">文字タイプ</label>
          <input type="text" name="AS400_type" value="WRKSPLF" id="" />
          <input type="submit" />
        </form>
        <!-- 単純に文字をタイプするだけ -->
        <form action="/" method="post">
          <label for="">runqry</label>
          <input type="text" name="AS400_typeOption" value="" id="" />
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
